extends ../layout
block content
  form(method="post") 
    p   
     label
       input(type="text", name="title")
    p 
     label 
        textarea(name="description", cols="30", rows="10") 
    p
        input(type="submit" value="Dodaj")