extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method="post") 
    p   
     label
       input(type="text", name="login")
    p 
     label 
        input(type="password" name="password")
    p
        input(type="submit" value="Zaloguj")